*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  color: #333;
  background-image: url('./assets/fundo.png'); /* Caminho da imagem */
  background-size: cover; /* Preenche todo o espaço */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetição */
  height: 100vh; /* Altura da tela inteira */
  width: 100%;
  opacity: 0.9; /* Opacidade do fundo */
}

.logo img {
  width: 300px;
  height: auto;
}
.logo-text{
  width: 200px;
  display: none;
}
.menu {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
 background-color: rgba(215, 250, 245, 0.5);
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0; 
  left: 0;
  z-index: 100;
    font-family: "Great Vibes", cursive;
}
.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  text-decoration: none;
  color: #201800;
  font-weight: bold;
  font-size: 20px;
}
.menu a:hover {
  color: #474600;
}
.about {
  
  padding: 20px;
  text-align: center;
  background-color: #fff;
  margin-top: 100px; /* To avoid overlap with fixed menu */
}
.about-text {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

}
.about h1 {
  font-size: 3em;
  margin-bottom: 20px;
    font-family: "Great Vibes", cursive;
}
.about p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
}
.fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.fotos img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

#galeria {
  max-width: 900px;
  margin: auto;
}

.album {
  margin-bottom: 50px;
}

.album h3 {
  margin-bottom: 10px;
  color: #333;
}

.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel img {
  width: 300px;
  height: 200px;
  margin-right: 10px;
  border-radius: 8px;
  
}

button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  font-size: 18px;
  border-radius: 50%;
}

button.prev {
  left: 0;
}

button.next {
  right: 0;
}
.menu-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}
.whatsapp-button {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    background: #25d366;
    color: white;
    padding: 20px 50px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.3s;
    box-shadow: 0 5px 20px rgba(37, 211, 102, 0.3);
    margin-bottom: 3rem;
}

.whatsapp-button:hover {
    background: #128c7e;
    transform: translateY(-3px);
    box-shadow: 0 8px 30px rgba(37, 211, 102, 0.4);
}

.whatsapp-button i {
    font-size: 1.8rem;
}

.link-whatsapp img {
   height: 60px;
   position: fixed;
   right: 20px;
   bottom: 20px;
   transition: all 1s ease-in-out;
     
}
.link-whatsapp img:hover{
   transform: scale(1.09); 
   transition: all 0.3s ease-in-out; 

}
footer {
  background-color: rgba(241, 241, 241, 0.842);
  min-height: 150px;
   padding: 1rem;
   margin-top: 40px;
}

@media (max-width: 768px) {
  
  .menu {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 7rem;
    right: 0;
    width: 100%;
    height: auto;
    padding: 2rem 0;
     align-items: center;
     background-color: transparent
  }
.logo-text{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
  
.logo img {
    width: 300px;
    height: auto;
    display: none; /* Esconde o logo grande */
}
  /* .menu.active {
    display: flex;
   
  }

  .menu-toggle {
    display: block;
  } */

}